<a href="https://colab.research.google.com/github/SIVAGORAM/-100daysofcode-Python/blob/main/DAY51_53.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

readlines() method:

In [1]:
f = open('myfile.txt', 'r')
while True:
    line = f.readline()
    if not line:
        break
    print(line)

Hello, world!Hello, world!Hello, world!Hello, world!Hello, world!Hey I am inside with

writelines() method

In [2]:
f = open('myfile.txt', 'w')
lines = ['line 1\n', 'line 2\n', 'line 3\n']
f.writelines(lines)
f.close()

In [3]:
f = open('myfile.txt', 'w')
lines = ['line 1', 'line 2', 'line 3']
for line in lines:
    f.write(line + '\n')
f.close()

seek() functions:

In [5]:
with open('/content/myfile.txt', 'r') as f:
  # Move to the 10th byte in the file
  f.seek(10)

  # Read the next 5 bytes
  data = f.read(5)

tell() function

In [7]:
with open('/content/myfile.txt', 'r') as f:
  # Read the first 10 bytes
  data = f.read(10)

  # Save the current position
  current_position = f.tell()

  # Seek to the saved position
  f.seek(current_position)

truncate() function

In [8]:
with open('sample.txt', 'w') as f:
  f.write('Hello World!')
  f.truncate(5)

with open('sample.txt', 'r') as f:
  print(f.read())

Hello

Lambda Functions in Python

In [ ]:
#Syntax:
lambda arguments: expression

In [9]:
# Function to double the input
def double(x):
  return x * 2

# Lambda function to double the input
lambda x: x * 2

In [10]:
# Function to calculate the product of two numbers
def multiply(x, y):
    return x * y

# Lambda function to calculate the product of two numbers
lambda x, y: x * y

In [11]:
# Lambda function to calculate the product of two numbers,
# with additional print statement
lambda x, y: print(f'{x} * {y} = {x * y}')

Basic Lambda Function:

In [12]:
# Basic lambda function to add two numbers
add = lambda x, y: x + y
print(add(3, 5))  # Output: 8

8

Using Lambda with Built-in Functions:

In [13]:
# Sorting a list of tuples based on the second element
pairs = [(1, 'one'), (3, 'three'), (2, 'two'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
print(pairs)  # Output: [(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

Lambda Functions in Map():

In [14]:
# Doubling each element in a list using map() with lambda
numbers = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, numbers))
print(doubled)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

Lambda Functions in Filter():

In [15]:
# Filtering even numbers from a list using filter() with lambda
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

Lambda Functions in Reduce():

In [16]:
from functools import reduce

# Summing up all elements in a list using reduce() with lambda
numbers = [1, 2, 3, 4, 5]
sum_all = reduce(lambda x, y: x + y, numbers)
print(sum_all)  # Output: 15

15

Lambda Functions with Conditional Expressions:

In [17]:
# Lambda function with conditional expression to find maximum of two numbers
max_value = lambda x, y: x if x > y else y
print(max_value(5, 10))  # Output: 10

10

Advanced Example - Using Lambda with Sorted():

In [18]:
# Sorting a list of dictionaries based on a specific key using sorted() with lambda
users = [
    {'name': 'John', 'age': 30},
    {'name': 'Jane', 'age': 25},
    {'name': 'Dave', 'age': 35}
]
sorted_users = sorted(users, key=lambda user: user['age'])
print(sorted_users)
# Output: [{'name': 'Jane', 'age': 25}, {'name': 'John', 'age': 30}, {'name': 'Dave', 'age': 35}]

[{'name': 'Jane', 'age': 25}, {'name': 'John', 'age': 30}, {'name': 'Dave', 'age': 35}]