<a href="https://colab.research.google.com/github/SIVAGORAM/-100daysofcode-Python/blob/main/DAY54.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Map

In [ ]:
#Syntax:-
map(function, iterable)

In [1]:
# List of numbers
numbers = [1, 2, 3, 4, 5]

# Double each number using the map function
doubled = map(lambda x: x * 2, numbers)

# Print the doubled numbers
print(list(doubled))

[2, 4, 6, 8, 10]

Mapping a function to a list of numbers to calculate squares.

In [2]:
numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x ** 2, numbers)
squared_list = list(squared)
print(squared_list)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

Mapping a function to multiple iterables.

In [3]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
added = map(lambda x, y: x + y, nums1, nums2)
added_list = list(added)
print(added_list)  # Output: [5, 7, 9]

[5, 7, 9]

Mapping built-in functions to iterables.

In [4]:
names = ["John", "Alice", "Bob"]
name_lengths = map(len, names)
name_lengths_list = list(name_lengths)
print(name_lengths_list)  # Output: [4, 5, 3]

[4, 5, 3]

Mapping a user-defined function to an iterable.

In [5]:
def double(x):
    return x * 2

numbers = [1, 2, 3, 4, 5]
doubled = map(double, numbers)
doubled_list = list(doubled)
print(doubled_list)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

Mapping a class method to an iterable.

In [6]:
class Calculator:
    @staticmethod
    def square(x):
        return x ** 2

numbers = [1, 2, 3, 4, 5]
squared = map(Calculator.square, numbers)
squared_list = list(squared)
print(squared_list)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

Mapping with conditional logic using map() and lambda.

In [7]:
numbers = [1, 2, 3, 4, 5]
result = map(lambda x: "even" if x % 2 == 0 else "odd", numbers)
result_list = list(result)
print(result_list)  # Output: ['odd', 'even', 'odd', 'even', 'odd']

['odd', 'even', 'odd', 'even', 'odd']

filter()  :-
 filter(predicate, iterable)

Filtering out even numbers from a list

In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
even_numbers_list = list(even_numbers)
print(even_numbers_list)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

Filtering elements based on a user-defined function.

In [9]:
def is_positive(x):
    return x > 0

numbers = [-3, -2, -1, 0, 1, 2, 3]
positive_numbers = filter(is_positive, numbers)
positive_numbers_list = list(positive_numbers)
print(positive_numbers_list)  # Output: [1, 2, 3]

[1, 2, 3]

Filtering out None values from a list.

In [10]:
items = [1, None, "apple", None, 5, "banana"]
filtered_items = filter(lambda x: x is not None, items)
filtered_items_list = list(filtered_items)
print(filtered_items_list)  # Output: [1, 'apple', 5, 'banana']

[1, 'apple', 5, 'banana']

Filtering elements using a class method.

In [11]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def is_adult(self):
        return self.age >= 18

people = [
    Person("Alice", 25),
    Person("Bob", 17),
    Person("Charlie", 30)
]
adults = filter(Person.is_adult, people)
adults_list = list(adults)
print([person.name for person in adults_list])  # Output: ['Alice', 'Charlie']

['Alice', 'Charlie']

Filtering elements based on multiple conditions.

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = filter(lambda x: x % 2 == 0 or x % 3 == 0, numbers)
filtered_numbers_list = list(filtered_numbers)
print(filtered_numbers_list)  # Output: [2, 3, 4, 6, 8, 9, 10]

[2, 3, 4, 6, 8, 9, 10]

Achieving the same result using list comprehension.

In [13]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = [x for x in numbers if x % 2 == 0]
print(filtered_numbers)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

Reduce()  reduce(function, iterable)

Summing up a list of numbers using reduce().

In [14]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, numbers)
print(total)  # Output: 15

15

Multiplying all elements of a list using reduce().

In [15]:
from functools import reduce

numbers = [2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 120

120

Finding the maximum element in a list using reduce().

In [16]:
from functools import reduce

numbers = [3, 8, 1, 6, 9, 4]
max_number = reduce(lambda x, y: x if x > y else y, numbers)
print(max_number)  # Output: 9

9

Concatenating strings from a list using reduce().

In [17]:
from functools import reduce

words = ["Hello", " ", "world", "!"]
sentence = reduce(lambda x, y: x + y, words)
print(sentence)  # Output: Hello world!

Hello world!

Counting occurrences of elements in a list using reduce().

In [18]:
from functools import reduce

words = ["apple", "banana", "apple", "orange", "banana", "apple"]
word_count = reduce(lambda count, word: {**count, word: count.get(word, 0) + 1}, words, {})
print(word_count)  # Output: {'apple': 3, 'banana': 2, 'orange': 1}

{'apple': 3, 'banana': 2, 'orange': 1}

Flattening a list of lists into a single list using reduce().

In [19]:
from functools import reduce

nested_lists = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = reduce(lambda x, y: x + y, nested_lists, [])
print(flattened_list)  # Output: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]