<a href="https://colab.research.google.com/github/SIVAGORAM/-100daysofcode-Python/blob/main/DAY_41_42.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If ... Else in One Line

In [1]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [2]:
#One line if else statement, with 3 conditions:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [6]:
# One-liner if...else statement
x = 10
print("Even" if x % 2 == 0 else "Odd")

Even

In [7]:
x = 10
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [8]:
# Assign the value of 'result' based on the condition
x = 5
result = "Positive" if x > 0 else "Non-positive"
print(result)

Positive

In [9]:
# Perform different operations based on the condition
x = 10
y = 20
result = x + y if x > y else x - y
print(result)

-10

In [10]:
# Determine if a number is even or odd
num = 7
print("Even" if num % 2 == 0 else "Odd")

Odd

In [11]:
# Check if a string is empty or not
string = "Hello"
print("String is not empty" if string else "String is empty")

String is not empty

In [12]:
# Check multiple conditions using the ternary conditional operator
x = 10
print("Positive" if x > 0 else ("Zero" if x == 0 else "Negative"))

Positive

Enumerate function in python

In [13]:
# Loop over a list and print the index and value of each element
fruits = ['apple', 'banana', 'mango']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 mango

In [14]:
# Loop over a list and print the index (starting at 1) and value of each element
fruits = ['apple', 'banana', 'mango']
for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

1 apple
2 banana
3 mango

In [15]:
fruits = ['apple', 'banana', 'mango']
for index, fruit in enumerate(fruits):
    print(f'{index+1}: {fruit}')

1: apple
2: banana
3: mango

In [16]:
# Loop over a tuple and print the index and value of each element
colors = ('red', 'green', 'blue')
for index, color in enumerate(colors):
    print(index, color)

0 red
1 green
2 blue

In [17]:
# Loop over a string and print the index and value of each character
s = 'hello'
for index, c in enumerate(s):
    print(index, c)

0 h
1 e
2 l
3 l
4 o

In [18]:
word = 'Python'
for index, letter in enumerate(word):
    print(index, letter)

0 P
1 y
2 t
3 h
4 o
5 n

In [19]:
#Creating a dictionary from a list with indices:

fruits = ['apple', 'banana', 'cherry']
indexed_fruits = {index: fruit for index, fruit in enumerate(fruits)}
print(indexed_fruits)

{0: 'apple', 1: 'banana', 2: 'cherry'}

In [20]:
#Looping over a list in reverse with indices:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(reversed(fruits)):
    print(index, fruit)

0 cherry
1 banana
2 apple

In [21]:
#Extracting Even-Indexed Elements:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_indexed = [num for index, num in enumerate(numbers) if index % 2 == 0]
print(even_indexed)

[1, 3, 5, 7, 9]

In [22]:
#Finding the index of a specific element:

fruits = ['apple', 'banana', 'cherry']
search_item = 'banana'
for index, fruit in enumerate(fruits):
    if fruit == search_item:
        print(f"{search_item} found at index {index}")
        break

banana found at index 1

In [23]:
#Iterating over a list of tuples and accessing both index and value:

coordinates = [(10, 20), (30, 40), (50, 60)]
for index, (x, y) in enumerate(coordinates):
    print(f"Point {index+1}: ({x}, {y})")

Point 1: (10, 20)
Point 2: (30, 40)
Point 3: (50, 60)

In [24]:
#Simultaneously updating values in a list using enumerate:

numbers = [1, 2, 3, 4, 5]
for index, num in enumerate(numbers):
    numbers[index] = num * 2
print(numbers)

[2, 4, 6, 8, 10]

In [25]:
#Iterating over multiple lists simultaneously using zip and enumerate:

names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
for index, (name, age) in enumerate(zip(names, ages)):
    print(f"{name} is {age} years old.")

Alice is 25 years old.
Bob is 30 years old.
Charlie is 35 years old.

In [26]:
#Creating a dictionary with reversed key-value pairs using enumerate:
fruits = ['apple', 'banana', 'cherry']
indexed_fruits_rev = {fruit: index for index, fruit in enumerate(fruits)}
print(indexed_fruits_rev)

{'apple': 0, 'banana': 1, 'cherry': 2}

In [27]:
#Combining enumerate with list comprehension for filtering based on conditions:
numbers = [10, 20, 30, 40, 50, 60]
even_indices_squares = [num ** 2 for index, num in enumerate(numbers) if index % 2 == 0]
print(even_indices_squares)

[100, 900, 2500]