<a href="https://colab.research.google.com/github/SIVAGORAM/-100daysofcode-Python/blob/main/DAY_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [2]:
#Using the % operator:
name = "John"
age = 30
formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)

My name is John and I am 30 years old.

In [3]:
#Using the .format() method:
name = "John"
age = 30
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

My name is John and I am 30 years old.

In [4]:
#Using f-strings (formatted string literals):
name = "John"
age = 30
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is John and I am 30 years old.

In [5]:
val = 'Geeks'
print(f"{val}for{val} is a portal for {val}.")
name = 'Tushar'
age = 23
print(f"Hello, My name is {name} and I'm {age} years old.")

GeeksforGeeks is a portal for Geeks.
Hello, My name is Tushar and I'm 23 years old.

In [7]:
#We can use it in a single statement as well.
print(f"{2 * 30}")

60

In [9]:
letter = "Hey my name is {1} and I am from {0}"
country = "India"
name = "SIVA"

print(letter.format(country, name))
print(f"Hey my name is {name} and I am from {country}")
print(f"We use f-strings like this: Hey my name is {name} and I am from {country}")
price = 49.09999
txt = f"For only {price:.2f} dollars!"
print(txt)
# print(txt.format())
print(type(f"{2 * 30}"))

Hey my name is SIVA and I am from India
Hey my name is SIVA and I am from India
We use f-strings like this: Hey my name is SIVA and I am from India
For only 49.10 dollars!
<class 'str'>

In [10]:
# Example 1: Formatting integers and floats
num1 = 10
num2 = 3.14159
formatted_string = "Integer: %d, Float: %.2f" % (num1, num2)
print(formatted_string)

# Example 2: Formatting strings
name = "Alice"
age = 25
formatted_string = "Hello, my name is %s and I am %d years old." % (name, age)
print(formatted_string)

Integer: 10, Float: 3.14
Hello, my name is Alice and I am 25 years old.

In [11]:
# Example 1: Formatting integers and floats
num1 = 10
num2 = 3.14159
formatted_string = "Integer: {}, Float: {:.2f}".format(num1, num2)
print(formatted_string)

# Example 2: Formatting strings
name = "Bob"
age = 30
formatted_string = "Hello, my name is {} and I am {} years old.".format(name, age)
print(formatted_string)

Integer: 10, Float: 3.14
Hello, my name is Bob and I am 30 years old.

In [12]:
# Example 1: Formatting integers and floats
num1 = 10
num2 = 3.14159
formatted_string = f"Integer: {num1}, Float: {num2:.2f}"
print(formatted_string)

# Example 2: Formatting strings
name = "Charlie"
age = 35
formatted_string = f"Hello, my name is {name} and I am {age} years old."
print(formatted_string)

Integer: 10, Float: 3.14
Hello, my name is Charlie and I am 35 years old.