<a href="https://colab.research.google.com/github/SIVAGORAM/-100daysofcode-Python/blob/main/DAY_18_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Default arguments:
def name(fname, mname = "Jhon", lname = "Whatson"):
    print("Hello,", fname, mname, lname)

name("Amy")

Hello, Amy Jhon Whatson

In [ ]:
#Keyword arguments:
def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name(mname = "Peter", lname = "Wesker", fname = "Jade")

Hello, Jade Peter Wesker

In [ ]:
# Required arguments:
#Example 1: when number of arguments passed does not match to the actual function definition.
def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name("Peter", "Quill")

TypeError: name() missing 1 required positional argument: 'lname'

In [ ]:
#Example 2: when number of arguments passed matches to the actual function definition.
def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name("Peter", "Ego", "Quill")

Hello, Peter Ego Quill

In [ ]:
# Variable-length arguments:
#Arbitrary Arguments:
def name(*name):
    print("Hello,", name[0], name[1], name[2])

name("James", "Buchanan", "Barnes")

Hello, James Buchanan Barnes

In [ ]:
# Keyword Arbitrary Arguments:
def name(**name):
    print("Hello,", name["fname"], name["mname"], name["lname"])

name(mname = "Buchanan", lname = "Barnes", fname = "James")

Hello, James Buchanan Barnes

In [ ]:
# return Statement
def name(fname, mname, lname):
    return "Hello, " + fname + " " + mname + " " + lname

print(name("James", "Buchanan", "Barnes"))

Hello, James Buchanan Barnes

In [ ]:
def average(a, b, c=1):
  print("The average is ", (a + b + c) / 2)
average(2,4)

The average is  3.5

In [ ]:
def average(*numbers):
  print(type(numbers))
  sum = 0
  for i in numbers:
    sum = sum + i
  print("Average is: ", sum / len(numbers))
  return 7
  return sum / len(numbers)


average(4, 6)


c = average(5, 6, 7, 1)
print(c)

<class 'tuple'>
Average is:  5.0
<class 'tuple'>
Average is:  4.75
7

In [ ]:
def name(**name):
  print(type(name))
  print("Hello,", name["fname"], name["mname"], name["lname"])


name(mname="Buchanan", lname="Barnes", fname="James")

<class 'dict'>
Hello, James Buchanan Barnes

In [ ]:
#Function with Positional Arguments:
def greet(name):
    print("Hello,", name)

greet("Alice")

Hello, Alice

In [ ]:
# Function with Default Argument:
def greet(name="Guest"):
    print("Hello,", name)

greet()

Hello, Guest

In [ ]:
#Function with Keyword Arguments:
def greet(name, age):
    print("Hello,", name, "you are", age, "years old.")

greet(age=25, name="Alice")

Hello, Alice you are 25 years old.

In [ ]:
#Intermediate Examples:

In [ ]:
# Function with Arbitrary Number of Arguments:
def average(*args):
    return sum(args) / len(args)

print(average(3, 5, 7, 9))

6.0

In [ ]:
#Function with Arbitrary Keyword Arguments:
def details(**kwargs):
    for key, value in kwargs.items():
        print(key + ":", value)

details(name="Alice", age=25, country="USA")

name: Alice
age: 25
country: USA

In [ ]:
#Function with Mix of Regular, Default, and Arbitrary Arguments:
def mix_args(a, b=10, *args, **kwargs):
    print("a =", a)
    print("b =", b)
    print("args =", args)
    print("kwargs =", kwargs)

mix_args(1, 2, 3, 4, 5, c="cat", d="dog")

a = 1
b = 2
args = (3, 4, 5)
kwargs = {'c': 'cat', 'd': 'dog'}

In [ ]:
#Advanced Examples:

15

In [ ]:
#Function with Type Annotations:
def add(x: int, y: int) -> int:
    return x + y

result = add(3, 5)
print(result)  # Output: 8

8

In [ ]:
#Function with Lambda Function as Argument:
def apply_operation(x, y, operation):
    return operation(x, y)

result = apply_operation(5, 3, lambda x, y: x * y)
print(result)  # Output: 15

15