<a href="https://colab.research.google.com/github/SIVAGORAM/-100daysofcode-Python/blob/main/DAY_22_23_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#list.sort() Example 1:
colors = ["voilet", "indigo", "blue", "green"]
colors.sort()
print(colors)

num = [4,2,5,3,6,1,2,1,2,8,9,7]
num.sort()
print(num)

['blue', 'green', 'indigo', 'voilet']
[1, 1, 2, 2, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
colors = ["voilet", "indigo", "blue", "green"]
colors.sort(reverse=True)
print(colors)

num = [4,2,5,3,6,1,2,1,2,8,9,7]
num.sort(reverse=True)
print(num)

['voilet', 'indigo', 'green', 'blue']
[9, 8, 7, 6, 5, 4, 3, 2, 2, 2, 1, 1]

In [3]:
#reverse()
colors = ["voilet", "indigo", "blue", "green"]
colors.reverse()
print(colors)

num = [4,2,5,3,6,1,2,1,2,8,9,7]
num.reverse()
print(num)

['green', 'blue', 'indigo', 'voilet']
[7, 9, 8, 2, 1, 2, 1, 6, 3, 5, 2, 4]

In [4]:
#index()
colors = ["voilet", "green", "indigo", "blue", "green"]
print(colors.index("green"))

num = [4,2,5,3,6,1,2,1,3,2,8,9,7]
print(num.index(3))

1
3

In [5]:
#count()
colors = ["voilet", "green", "indigo", "blue", "green"]
print(colors.count("green"))

num = [4,2,5,3,6,1,2,1,3,2,8,9,7]

2

In [6]:
#copy()
colors = ["voilet", "green", "indigo", "blue"]
newlist = colors.copy()
print(colors)
print(newlist)

['voilet', 'green', 'indigo', 'blue']
['voilet', 'green', 'indigo', 'blue']

In [7]:
#append():
colors = ["voilet", "indigo", "blue"]
colors.append("green")
print(colors)

['voilet', 'indigo', 'blue', 'green']

In [8]:
#insert():
colors = ["voilet", "indigo", "blue"]
#           [0]        [1]      [2]

colors.insert(1, "green")   #inserts item at index 1
# updated list: colors = ["voilet", "green", "indigo", "blue"]
#       indexs              [0]       [1]       [2]      [3]

print(colors)

['voilet', 'green', 'indigo', 'blue']

In [9]:
#extend():
#add a list to a list
colors = ["voilet", "indigo", "blue"]
rainbow = ["green", "yellow", "orange", "red"]
colors.extend(rainbow)
print(colors)

['voilet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

In [10]:
#Concatenating two lists:
colors = ["voilet", "indigo", "blue", "green"]
colors2 = ["yellow", "orange", "red"]
print(colors + colors2)

['voilet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

In [13]:
l = [11, 45, 1, 2, 4, 6, 1, 1]
print(l)
l.append(7)
l.sort(reverse=True)
l.reverse()
print(l.index(1))
print(l.count(1))
m = l.copy()
m[0] = 0
l.insert(1, 899)
m = [900, 1000, 1100]
k = l + m
print(k)
l.extend(m)
print(l)

[11, 45, 1, 2, 4, 6, 1, 1]
0
3
[1, 899, 1, 1, 2, 4, 6, 7, 11, 45, 900, 1000, 1100]
[1, 899, 1, 1, 2, 4, 6, 7, 11, 45, 900, 1000, 1100]

In [14]:
#Basic List Operations:
# 1. Creating a list
my_list = [1, 2, 3, 4, 5]

# 2. Accessing elements
print("First element:", my_list[0])
print("Last element:", my_list[-1])

# 3. Length of the list
print("Length of the list:", len(my_list))

# 4. Appending an element
my_list.append(6)
print("After appending:", my_list)

# 5. Removing an element
my_list.remove(3)
print("After removing 3:", my_list)

# 6. Inserting an element
my_list.insert(2, 8)
print("After inserting 8 at index 2:", my_list)

# 7. Slicing
print("Slicing from index 1 to 3:", my_list[1:4])

# 8. Concatenating lists
other_list = [7, 9]
print("Concatenated list:", my_list + other_list)

# 9. Sorting
my_list.sort()
print("Sorted list:", my_list)

# 10. Reversing
my_list.reverse()
print("Reversed list:", my_list)

First element: 1
Last element: 5
Length of the list: 5
After appending: [1, 2, 3, 4, 5, 6]
After removing 3: [1, 2, 4, 5, 6]
After inserting 8 at index 2: [1, 2, 8, 4, 5, 6]
Slicing from index 1 to 3: [2, 8, 4]
Concatenated list: [1, 2, 8, 4, 5, 6, 7, 9]
Sorted list: [1, 2, 4, 5, 6, 8]
Reversed list: [8, 6, 5, 4, 2, 1]

In [15]:
#Program to Find the Sum of All Elements in a List:-

def sum_of_list_elements(lst):
    return sum(lst)

my_list = [1, 2, 3, 4, 5]
print("Sum of elements:", sum_of_list_elements(my_list))

Sum of elements: 15

In [16]:
#Program to Find the Maximum and Minimum Element in a List:

def find_max_min(lst):
    max_element = max(lst)
    min_element = min(lst)
    return max_element, min_element

my_list = [1, 2, 3, 4, 5]
max_num, min_num = find_max_min(my_list)
print("Maximum element:", max_num)
print("Minimum element:", min_num)

Maximum element: 5
Minimum element: 1

In [17]:
#Program to Remove Duplicates from a List:
def remove_duplicates(lst):
    return list(set(lst))

my_list = [1, 2, 2, 3, 4, 4, 5]
print("List with duplicates removed:", remove_duplicates(my_list))

List with duplicates removed: [1, 2, 3, 4, 5]

In [18]:
#Program to Check if a List is Palindrome:

def is_palindrome(lst):
    return lst == lst[::-1]

my_list = [1, 2, 3, 2, 1]
print("Is palindrome?", is_palindrome(my_list))

Is palindrome? True

In [19]:
#Program to Find the Union and Intersection of Two Lists:
def union(lst1, lst2):
    return list(set(lst1 + lst2))

def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
print("Union:", union(list1, list2))
print("Intersection:", intersection(list1, list2))

Union: [1, 2, 3, 4, 5, 6, 7]
Intersection: [3, 4, 5]

In [20]:
#Program to Flatten a Nested List:
def flatten(lst):
    flattened_list = []
    for sublist in lst:
        if isinstance(sublist, list):
            flattened_list.extend(flatten(sublist))
        else:
            flattened_list.append(sublist)
    return flattened_list

nested_list = [1, [2, 3], [4, [5, 6]], 7]
print("Flattened list:", flatten(nested_list))

Flattened list: [1, 2, 3, 4, 5, 6, 7]

In [21]:
#Program to Remove Nth Occurrence of a Given Element from a List:
def remove_nth_occurrence(lst, element, n):
    count = 0
    for i in range(len(lst)):
        if lst[i] == element:
            count += 1
            if count == n:
                del lst[i]
                break
    return lst

my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
nth_occurrence = 2
print("List after removing {} occurrence of {}: {}".format(nth_occurrence, element_to_remove, remove_nth_occurrence(my_list, element_to_remove, nth_occurrence)))

List after removing 2 occurrence of 2: [1, 2, 3, 4, 5, 2]

In [22]:
#Program to Merge Two Sorted Lists into a Single Sorted List:
def merge_sorted_lists(lst1, lst2):
    merged_list = []
    while lst1 and lst2:
        if lst1[0] < lst2[0]:
            merged_list.append(lst1.pop(0))
        else:
            merged_list.append(lst2.pop(0))
    merged_list.extend(lst1)
    merged_list.extend(lst2)
    return merged_list

list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
print("Merged sorted list:", merge_sorted_lists(list1, list2))

Merged sorted list: [1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
#Program to Rotate a List by N Positions to the Left:
def rotate_left(lst, n):
    n = n % len(lst)
    return lst[n:] + lst[:n]

my_list = [1, 2, 3, 4, 5]
n = 2
print("List rotated by {} positions to the left:".format(n), rotate_left(my_list, n))

List rotated by 2 positions to the left: [3, 4, 5, 1, 2]